@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$pop-color: #00ab3a;

$text: 'PT Sans', sans-serif;
$title: 'PT Sans', sans-serif;

$body-font-size: 1.7em;
$title-size: 3em;
$line-height: 1.4;
